{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in design %}
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{{i.image.url}}"   alt="" height="300"  >
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.rate}}</p>
                    <a href="{% url 'design:detail' i.id %}" class="btn btn-primary">more details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
